
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v5.0.0"
    hooks:
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: no-commit-to-branch
        args: [--branch, main]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]


  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.15.0"  # Also update in pyproject.toml
    hooks:
      - id: mypy
        language_version: "3.12"
        additional_dependencies:
          - 'tmt'
          - 'pydantic'
        pass_filenames: false

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.9.10
    hooks:
      - id: ruff
        args:
          - '--fix'
          - '--show-fixes'
      - id: ruff-format
