services:
  web:
    container_name: uvicorn
    build:
      context: .
      dockerfile: ./Containerfile
    command: uvicorn tmt_web.api:app --reload --host 0.0.0.0 --port 8000
    environment:
      - VALKEY_URL=valkey://valkey:6379
      - API_HOSTNAME=http://localhost:8000
    ports:
      - 8000:8000
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s
    restart: unless-stopped
    depends_on:
      valkey:
        condition: service_healthy

  valkey:
    container_name: valkey
    image: valkey:alpine
    ports:
      - 6379:6379
    healthcheck:
      test: ["CMD", "valkey-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
    restart: unless-stopped
