{% extends '_base.html.j2' %}
{% set title = "Status" %}

{% block content %}
  {% if status == "PENDING" %}
    Processing... Try this clicking this url in a few seconds: <a href="{{ status_callback_url }}">{{ status_callback_url }}</a>
  {%- elif status == "RETRYING" %}
    Task is retrying... Please wait for a few seconds and try again: <a href="{{ status_callback_url }}">{{ status_callback_url }}</a>
  {%- else %}
    Status: {{ status }}<br>
    The result is: <br>{{ result }}
  {%- endif %}
{%- endblock %}
