<!-- test_and_plan.html.j2 -->
{% extends '_base.html.j2' %}
{% set title = "Test and Plan Information" %}

{% block content %}
    <h1>Test Information</h1>
    <p>name: {{ test.name }}</p>
    <p>summary: {{ test.summary }}</p>
    <p>description: {{ test.description }}</p>
    <p>url: <a href="{{ test.web_link() }}" target="_blank">{{ test.web_link() }}</a></p>
    <p>ref: {{ test.fmf_id.ref }}</p>
    <p>contact: {{ test.contact }}</p>
    <p>tag: {{ test.tag }}</p>
    <p>tier: {{ test.tier }}</p>
    <p>id: {{ test.id }}</p>

    <h1>Plan Information</h1>
    <p>name: {{ plan.name }}</p>
    <p>summary: {{ plan.summary }}</p>
    <p>description: {{ plan.description }}</p>
    <p>url: <a href="{{ plan.web_link() }}" target="_blank">{{ plan.web_link() }}</a></p>
    <p>ref: {{ plan.fmf_id.ref }}</p>
    <p>contact: {{ plan.contact }}</p>
    <p>tag: {{ plan.tag }}</p>
    <p>tier: {{ plan.tier }}</p>
    <p>id: {{ plan.id }}</p>
{%- endblock %}
