<!-- test_page.html.j2 -->
{% extends '_base.html.j2' %}
{% set title = testorplan.name %}

{% block content %}
    <p>name: {{ testorplan.name }}</p>
    <p>summary: {{ testorplan.summary }}</p>
    <p>description: {{ testorplan.description }}</p>
    <p>url: <a href="{{ testorplan.web_link() }}" target="_blank">{{ testorplan.web_link() }}</a></p>
    <p>ref: {{ testorplan.fmf_id.ref }}</p>
    <p>contact: {{ testorplan.contact }}</p>
    <p>tag: {{ testorplan.tag }}</p>
    <p>tier: {{ testorplan.tier }}</p>
    <p>id: {{ testorplan.id }}</p>
    fmf-id:<br>
    <ul>
        <li>url: {{ testorplan.fmf_id.url }}</li>
        {%- if testorplan.fmf_id.path %}
        <li>path: {{ testorplan.fmf_id.path.as_posix() }}</li>
        {%- else %}
        <li>path: None</li>
        {%- endif %}
    </ul>
{%- endblock %}
